<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SectionTitle</key>
		<string>네트워크 사업자</string>
		<key>Data</key>
		<array>
			<dict>
				<key>CellStyle</key>
				<string>SettingSwitchCell</string>
				<key>Content</key>
				<string>자동</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
